<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<script>
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      alert("Geolocation is not supported by this browser.");
    }
  }

  function showPosition(position) {
    const latitude = position.coords.latitude;
    const longitude = position.coords.longitude;

    fetch(`/weather/current?lat=${latitude}&lon=${longitude}`)
      .then(response => response.json())
      .then(data => {
        document.getElementById("current-location-link").href = `/weather/${data.city.toLowerCase()}`;
        document.getElementById("current-location-link").textContent = data.city;
      })
      .catch(error => console.error('Error:', error));
  }

  window.onload = getLocation;
</script>
<body>
    <h1>Select a city:</h1>
    <ul>
        <li><a href="#" id="current-location-link" onclick="getLocation()">My location</a></li>
        <li><a href="/weather/kyiv">Kyiv</a></li>
        <li><a href="/weather/lviv">Lviv</a></li>
        <li><a href="/weather/ternopil">Ternopil</a></li>
        <li><a href="/weather/odesa">Odesa</a></li>
        <li><a href="/weather/cherkasy">Cherkasy</a></li>
    </ul>
</body>
</html>
