<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
</head>
<body>
    <h1>Виберіть місто</h1>
    <ul>
        <li><a href="/weather/kyiv">Київ</a></li>
        <li><a href="/weather/lviv">Львів</a></li>
        <li><a href="/weather/odesa">Одеса</a></li>
        <li><a href="/weather/my_location">Моє місцезнаходження</a></li>
    </ul>
</body>
</html>
