body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px; 
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    font-size: 16px;
    color: #666;
}

a {
    display: inline-block;
    margin-top: 5px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a:hover {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
